.login-container{
    width: 90vw;
    margin-top: 5vh;
    box-shadow: 3px 5px 5px 3px grey;
    background-color: #F4F5F2;
}
.login{
    display: flex;
    justify-content: center;
    align-items: center;
    width:90vw;
    height: 60vh;
}
.login-form, .submit-btn{
    width: 30vw; 
}
.submit-btn{
    border: none;
    margin-bottom: 2vh;
}
.pic {
    /* width: 90vw; */
    /* height: 60vh;  */
    /* background-image: url("https://cdn.pixabay.com/photo/2016/03/10/18/44/top-view-1248955_1280.jpg"); */
    /* background-repeat: no-repeat; */
    /* background-size: 100% 100%; */
    align-self: center;
}
.signup-link{
    text-decoration: none;
    color: black;
}
.signup-link:hover{
    color: #AD6D56;
}

@media only screen and (max-width: 768px) {
    /* .row{
        display: flex;
        flex-direction: column;
    } */
    /* .login-form{
        display: flex;
        flex-direction: column;
        width: 80vw;
    } */
    .pic{
        display:none;
    }
  }