.container{
    width: 90vw;
    margin-top: 5vh;
    box-shadow: 3px 5px 5px 3px grey;
}
.login{
    display: flex;
    justify-content: center;
    align-items: center;
    width:90vw;
    height: 80vh;
}
.login-form, .submit-btn{
    width: 30vw;
   
}
.submit-btn{
    border: none;
    margin-bottom: 2vh;
}
.pic {
    width: 90vw;
    height: 80vh; 
    background-image: url("https://cdn.pixabay.com/photo/2021/04/14/17/45/avocado-6179050_1280.jpg");
    background-repeat: no-repeat;
    background-size: 100% 100% ;
}
.signup-link{
    text-decoration: none;
    color: black;
}
.signup-link:hover{
    color: #e2af9e;
}
