.navbar{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    background-color: #064420;
}
.search-link{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    width: 100vw;
    padding: 0 15vw;
    border-top: 1.5px solid #999B9C;
}

.title {
  width: 60vw;
  font-size: 20px;
  padding: 1vh 0;
  color: #f4f5f2;
}
.nav-link,
.nav-link:visited,
.nav-link:active {
  color: #f4f5f2;
}
.nav-link:hover {
  color: #999b9c;
}
.home-icon,
.home-icon:visited,
.home-icon:active {
  color: #f4f5f2;
}

.home-icon:hover {
  color: #999b9c;
}
