h2.accordian-header::after {
  color: darkgreen !important;
  background-color: ghostwhite;
}
h2 {
  display: block;
  text-align: center;
}

.photo {
  height: 500px;
  width: 500px;
}
/* .accordian-header  */
